table {

	margin-left: 5rem;
	margin-right: 5rem;
	margin-bottom: 1rem;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	color: #fff;
}

table, th, td {
 border: 1px solid gray;
}

th, td {
 padding: 0.5rem;
}