.clear-all {
	margin: 2rem;
	border: none;
  outline: none;
  color: #fff;
  background-color: #1e3799;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.clear-all:hover {
	background-color: #0c2461;
}

.container {
	margin: 0, 1rem;
}

.container::after {
	content: "";
	display: table;
	clear: both;
}

.card-container {
	float: left;
  width: 22%;
  padding: 0 0.8rem;	
}

.card-design {
	padding: 2rem;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	border-radius: 1rem;
	margin: 3rem auto;
	box-shadow: 0 5px 10px rgba(154,160,185,.05), 
		0 15px 40px rgba(166,173,201,.2);
}

.delete-task {
	margin: 1rem;
	border: none;
  color: #fff;
  background-color: #e74c3c;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;	
}

.delete-task:hover {
	background-color: #c0392b;
}

